.content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  & > .loading {
    position: relative;
    display: flex;
    height: 90vh;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
