.content {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header .logo {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
