.MuiPaper-root {
  text-align: center;
  min-width: 500px;
  width: 60vw;
}
.MuiPagination-ul {
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .MuiPaper-root {
    width: 100vw;
  }
}
