.data-table {
  width: 1000px;
  box-sizing: border-box;
  box-shadow: black;
  padding: 5px;

  span {
    font-size: large;
    font-weight: bolder;
  }

  .table-container {
    table-layout: fixed;
    overflow-x: scroll;

    table {
      white-space: nowrap;
      border-collapse: collapse;
      border: 3px solid black;

      th {
        padding: 10px;
        border: 1px solid black;
      }
      td {
        padding: 10px;
        border: 1px solid black;
      }

      thead {
        th {
          background-color: #249900;
          &.cc {
            cursor: pointer;
            &.selected {
              color: blue;
            }
            &.reversed {
              color: purple;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #3af700;
          }
          &:nth-child(even) {
            background-color: #30cc00;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .data-table {
    width: 98%;
  }
}
