.data-table {
  width: 55%;
  height: 600px;
  box-sizing: border-box;
  padding: 5px;

  & > span {
    font-size: large;
    font-weight: bolder;
  }

  .table-container {
    height: 85%;

    table {
      min-width: 100%;
      white-space: nowrap;
      border-collapse: separate;
      border-spacing: 0px;
      border: none;
      table-layout: fixed;
      border: 1px solid black;

      th,
      td {
        padding: 10px;
        border: 1px solid black;
      }

      thead {
        th {
          max-width: 150px;
          background-color: #249900;
          &:first-child {
            position: sticky;
            left: 0;
          }
          &.cc {
            cursor: pointer;
            &.selected {
              color: blue;
            }
            &.reversed {
              color: red;
            }
            & > div {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      tbody {
        tr {
          th {
            text-align: left;
            position: sticky;
            left: 0;
            background-color: white;
            border: 1px solid black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .data-table {
    width: 98%;
  }
}
