.table {
  text-align: center;
  min-width: 500px;
  width: 60vw;
  height: 100%;
  background-color: aquamarine;
}

.pagination {
  background-color: burlywood;
}

@media screen and (max-width: 1024px) {
  .table {
    width: 100vw;
  }
}
